@media (max-width: 820px) {
  .nav-content .nav-links {
    display: none;
  }

  .nav-content .nav-btn {
    display: none;
  }

  .nav-content .toggle-btn {
    display: block;
  }

  .dropdown-menu.open {
    position: absolute;
    top: 78px;
    width: 100%;
    background-color: #262626;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }

  .dropdown-menu.open a {
    background-color: #262626;
    color: white;
  }

  .dropdown-menu.open a:hover {
    background-color: #ffd6ef;
    color: #262626;
    max-width: 200px;
  }

  .s2-container {
    display: flex;
    justify-content: space-between;
  }
}