* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.3px;
  font-family: 'Karla', 'Inconsolata', 'Stint Ultra Expanded', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

a {
  text-decoration: none;
}

button {
  background-color: #ffd6ef;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Karla';
  transition: transform .5s;
}

button:hover {
  background-color: #262626;
  color: white;
  font-family: 'Inconsolata';
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transform: scale(1.2);
}

ul {
  list-style: none;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

p {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

.navigation {
  background-color: #ffd6ef;
  position: fixed;
  width: 100%;
  z-index: 200;
  top: 0;
  height: 10%;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10%;
  height: 100%;
  font-family: 'Karla';
}

.nav-content h1 {
  font-family: 'Stint Ultra Expanded';
  font-size: clamp(1.3rem, 2.7vw, 3rem);
  cursor: pointer;
}

.nav-content a {
  font-family: 'Karla';
  font-weight: bold;
  background-color: #ffd6ef;
  color: #262626;
  padding: 5px 20px;
  border-radius: 25px;
}

.nav-content .nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  transition: all .3s;
}

.nav-links a:hover {
  background-color: #262626;
  color: white;
}

.nav-content .toggle-btn {
  display: none;
  cursor: pointer;
  color: black;
}

.nav-content .dropdown-menu {
  display: none;
}

.chng {
  background-color: #262626;
  transition: all .3s;
}

.chng2 {
  color: #ffd6ef;
  transition: all .3s;
}

/* SECTION-1  */

.sectioneer {
  background: #262626;
}

.sectioneer .animate {
  transition: .3s;
}

.bg-change {
  background-color: #ffd6ef;
  transition: all .3s;
}

.bg-change .s1-container h1 {
  color: #262626;
}

.bg-change button {
  background-color: white;
  color: #262626;
}

.sec-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sec-1 .animate {
  transform: scale(1.12);
  /* transition: all .3s ease-in-out; */
}

.sec-1.show-animate .animate {
  transform: scale(1);
}

.s1-container {
  font-family: 'Inconsolata';
  text-align: center;
  max-width: 700px;
  margin: 0 10%;
}

.s1-container h1 {
  color: #ffd6ef;
  font-size: clamp(1.7rem, 7vw, 3rem);
}

.s1-container h1:hover .aith {
  opacity: 0;
  transition: all 1s 3s;
}

.s1-container .popup-content {
  display: none;
}

.popup-content.popon {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #25084A;
  color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-content.popon h2{
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  animation: colorShift1 3s infinite;
  margin: 0;
}

@keyframes colorShift1 {
  0%, 75% {
    color: #25084A;
  }

  25% {
    color: #262626;
  }

  50% {
    color: #ffd6ef;
  }

  100% {
    color: none;
  }
}


@media (max-width: 680px) {
  .s1-container {
    font-family: 'Inconsolata';
    text-align: center;
    max-width: 400px;
  }
}

/* SECTION-2 */

.sec-2.show-animate{
  background-color: #ffd6ef;
  transition: all .3s;
}

.sec-2 .s2-img {
  max-width: 600px;
  min-width: 0;
  height: fit-content;
}

.s2-container {
  display: flex;
  gap: 15px;
  margin: 0 10%;
}

.animated-text1 {
  padding: 0 10px;
  max-width: 3020px;
  min-width: 200px;
  color: #25084A;
  font-weight: bold;
  font-family: 'Inconsolata';
}

.animated-text2 {
  padding: 0 10px;
  max-width: 400px;
  min-width: 350px;
  color: #25084A;
  font-weight: bold;
  font-family: 'Inconsolata';
}

.animated-text1 .spa-1 {
  font-family: 'Karla';
}

.animeon .spa-2b{
  position: relative;
  width: fit-content;
  transition: background-color .3s;
}

.animeon .spa-2b::before{
  content: "Youtuber";
  color: #25084A;
  animation: words 30s infinite;
}

.animeon .spa-2b::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #ffd6ef;
  border-left: 2px solid #25084A;
  right: -8px;
  animation: cursor .8s infinite, typing 30s steps(24) infinite;
}

@keyframes cursor {
  to{
     border-left: 2px solid #ff7f5000;
  }
}

@keyframes words {
  0%,20%{
      content: "Immerse yourself in Wonder";
  }
  21%,40%{
      content: "Immerse yourself in Creativity";
  }
  41%,60%{
      content: "Immerse yourself in Exploration";
  }
  61%,80%{
      content: "Immerse yourself in Artistry";
  }
  81%,100%{
      content: "Immerse yourself in Inspiration";
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 8px);
  }
}

@media (max-width: 920px) {
  .sec-2 .s2-img {
    display: none;
  }
}

@media (max-width: 640px) {
  .s2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec-2 .s2-img {
    display: block;
    max-width: 300px;
  }
}


/* FOOTER */

.footer {
  display: flex;
  justify-content: flex-start;
  margin: 0 10%;
  margin-top: 100px;
  gap: 30px;
}

.footer ul {
  padding: 0;
}

@media (max-width: 820px) {
  .nav-content .nav-links {
    display: none;
  }

  .nav-content .nav-btn {
    display: none;
  }

  .nav-content .toggle-btn {
    display: block;
  }

  .dropdown-menu.open {
    position: absolute;
    top: 78px;
    width: 100%;
    background-color: #262626;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }

  .dropdown-menu.open a {
    background-color: #262626;
    color: white;
  }

  .dropdown-menu.open a:hover {
    background-color: #ffd6ef;
    color: #262626;
    max-width: 200px;
  }

  .s2-container {
    display: flex;
    justify-content: space-between;
  }
}