* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.3px;
  font-family: sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

a {
  text-decoration: none;
}

button {
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.navigation {
  background-color: rgb(201, 171, 171);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10%;
}

.nav-content .nav-links {
  display: flex;
  gap: 20px;
}

.nav-content .toggle-btn {
  display: none;
  cursor: pointer;
}

.nav-content .dropdown-menu {
  display: none;
}
