* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  word-spacing: 1.3px;
  font-family: 'Karla', 'Inconsolata', 'Stint Ultra Expanded', sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

a {
  text-decoration: none;
}

button {
  background-color: #ffd6ef;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Karla';
  transition: transform .5s;
}

button:hover {
  background-color: #262626;
  color: white;
  font-family: 'Inconsolata';
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transform: scale(1.2);
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
}

h3 {
  font-size: clamp(1.25rem, 2.5vw, 2rem);
}

h4 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

p {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
}

.navigation {
  background-color: #ffd6ef;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  height: 10%;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 10%;
  height: 100%;
  font-family: 'Karla';
}

.nav-content h1 {
  font-family: 'Stint Ultra Expanded';
  font-size: clamp(1.3rem, 2.7vw, 3rem);
}

.nav-content a {
  font-family: 'Karla';
  background-color: #ffd6ef;
  padding: 5px 20px;
  border-radius: 25px;
}

.nav-content .nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-content .toggle-btn {
  display: none;
  cursor: pointer;
}

.nav-content .dropdown-menu {
  display: none;
}


/* SECTION-1  */

.sectioneer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100svh;
  background: #262626;
}

.sectioneer .animate {
  transition: .3s;
}

.bg-change {
  background-color: #ffd6ef;
  transition: all .3s;
}

.bg-change .s1-container h1 {
  color: #262626;
}

.bg-change button {
  background-color: white;
  color: #262626;
}

.sec-1 .animate {
  transform: scale(1.15);
  /* transition: all .3s ease-in-out; */
}

.sec-1.show-animate .animate {
  transform: scale(1);
}

.s1-container {
  font-family: 'Inconsolata';
  text-align: center;
  max-width: 700px;
  margin: 0 10%;
}

.s1-container h1 {
  color: #ffd6ef;
  font-size: clamp(1.7rem, 7vw, 3rem);
}

@media (max-width: 680px) {
  .s1-container {
    font-family: 'Inconsolata';
    text-align: center;
    max-width: 400px;
  }
}

/* SECTION-2 */

.sec-2 {
  /* height: auto; */
  border: 2px solid black;
}

.sec-2.show-animate{
  background-color: #ffd6ef;
  transition: all .3s;
}

.sec-2 .s2-img {
  max-width: 600px;
  min-width: 0;
}

.s2-container {
  display: flex;
  margin: 0 10%;
}

.anime {
  border: 2px solid blue;
  max-width: 400px;
  min-width: 0;
  color: #25084A;
  font-weight: bold;
  font-family: 'Inconsolata';
}

.anime .spa-1 {
  font-family: 'Karla';
}

.anime .spa-2::before {
  content: "";
}